<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->

<h1>Pink Zebras Galloping Through!</h1>

<p>Make pause and bow down to give due</p>

<p>..if only I lived in a zoo!</p>

<h4>
<%= link_to 'How did you honor these zebras? Add your credence to the list!', new_post_path %> 
</h4>

<h4>
<%= link_to "Feeling lazy or uncreative? View all the other animal responses--and quickly--before the zebras stampede over your ungrateful corpse!", controller: "posts" %> 
</h4>