<p>
  <strong>Animal:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Sacrifice:</strong>
  <%= @post.text %>
</p>

<%= link_to 'What was your sacrifice? Add it to the list and make these zebras proud! They might even go to sleep, the noisy beasts', new_post_path %>